@import "./variables.scss";

:root {
  --dust-100: #dcb879;
  --dust-200: #c78550;
  --red-100: #fedfe1;
  --red-200: #f4a7b9;
  --red-300: #e16b8c;
  --red-400: #cb4042;
  --black-100: #656765;
  --blue-100: #81c7d4;
  --blue-200: #6699a1;
}

main.adaptive-test {

  font-family: $font-family-title;

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'NaikaiFont';
    overflow-x: hidden;
  }

  *:focus {
    outline: none;
  }

  p {
    line-height: 1.2;
    letter-spacing: 2.1px;
    color: var(--black-100);
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }

  main .container {
    position: relative;
  }

  .table-bg {
    .table {
      tbody {
        tr td:first-child {
          // width: auto;
          // text-align: center;

          @include phone-width {
            display: block;
          }
        }

        tr td:nth-child(2) {
          // width: 4rem;
          // text-align: right;

          @include phone-width {
            display: block;
          }
        }
      }
    }
  }

  .adaptive-test__description {
    width: 500px;
    max-width: 100%;
    margin-top: 32.5px;

    p {
      font-size: 18px;
      font-weight: bold;
    }
  }

  .adaptive-test__main {
    margin-top: 30.5px;
    margin-bottom: 23px;

    .question {
      position: relative;
      width: 100%;
      padding: 0 40px;
    }

    .question__label {
      position: relative;
      top: -15px;
      align-self: center;
      padding: 2px 7px;
      background-color: var(--red-200);
      margin-right: 6.8px;
      font-family: "Copperplate";
      font-size: 12.7px;
      color: var(--red-100);
      transform: rotate(-30deg);
    }

    .question__title {
      font-family: "NotoSansCJKtc";
      font-size: 20.2px;
      color: var(--black-100);
      padding-top: 49.5px;
      padding-bottom: 33.5px;
    }

    .question__control .question__control-button {
      height: 63.4px;
      font-size: 20.2px;
      line-height: 63.4px;
      border: solid 1px #b3b3b3;
      border-radius: 12px;
      background-color: #e6e6e6;
      color: var(--black-100);
      cursor: pointer;

      &.active {
        background-color: var(--red-200);
      }

      img {
        border: solid 1px #b3b3b3;
        border-radius: 50%;
        padding: 4px;
        height: 28px;
        margin-right: 8px;
        vertical-align: sub;
        background-color: #e6e6e6;
      }
    }
  }

  .adaptive-test__main-submit .question__submit-button {
    width: 318.5px;
    height: 131.8px;
    line-height: 131.8px;
    background-image: url("../images/adaptive-test/submit-button.png");
    background-repeat: round;
    margin: 0 auto;
    margin-bottom: 23.2px;
    font-size: 27.8px;
    font-weight: bold;
    color: white;
    text-align: center;
    cursor: pointer;

    img {
      width: 70.8px;
      height: 49px;
    }
  }

  .adaptive-test__main-result {
    width: 100%;
    height: 341px;
    background-image: url("../images/adaptive-test/result-bg.png");
    background-repeat: round;
    background-size: cover;
    margin: 0 auto;

    .result-container__heading {
      position: relative;
      padding-top: 30px;
      font-family: "NotoSansCJKtc";
      font-size: 22.2px;
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
      color: white;
      width: fit-content;
      margin: 0 auto;

      &:before {
        position: absolute;
        top: 50%;
        left: -50%;
        transform: translateX(-50%);
        width: 58.2px;
        height: 50px;
        content: "";
        background-image: url("../images//adaptive-test/result-heading-left.png");
        background-repeat: round;
      }

      &:after {
        position: absolute;
        top: 50%;
        right: -50%;
        transform: translateX(50%);
        width: 58.2px;
        height: 50px;
        content: "";
        background-image: url("../images//adaptive-test/result-heading-right.png");
        background-repeat: round;
      }
    }

    .result-container {
      position: relative;
      height: 100%;
    }

    .result-container__body {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      margin: 0 auto;
      width: 500px;
      max-width: 100%;
      padding: 0 14px;

      p {
        color: white;
      }
    }
  }
}

div.adaptive-test-subsection {
  position: relative;
  padding-top: 95.9px;
  padding-bottom: 55px;
  background-color: white;
  overflow: hidden;

  &:before {
    position: absolute;
    content: "";
    top: -1px;
    left: 0;
    width: 100%;
    height: 14px;
    background-image: url("../images/global/bg-top-alt.png");
  }

  .product {
    margin-bottom: 19.3px;

    .product__image {
      img {
        width: 280px;
        height: 280px;
        max-width: 100%;
        margin: 0 auto;
        object-fit: contain;
      }
    }

    .product__brand {
      font-family: "Copperplate";
      font-size: 8px;
      line-height: 1.2;
      color: var(--red-300);
    }

    .product__name--en {
      font-family: "Kefa";
      font-size: 10px;
      line-height: 1;
      color: var(--black-100);
      margin-top: 8px;
    }

    .product__name--zh {
      font-size: 10px;
      line-height: 1.2;
      color: var(--black-100);
    }

    .product__price {
      font-family: "Kefa";
      font-size: 13.3px;
      line-height: 1.2;
      color: var(--red-400);
      margin-top: 3.3px;
    }
  }
}

@media (max-width: 991.98px) {
  main.adaptive-test {
    background-color: white;

    section {
      padding-bottom: 80px;
    }

    .context-full-before,
    .context-full-after {
      display: none;
    }

    .context-full-mid {
      background: transparent;
      padding: 0;
    }

    .adaptive-test__main .question__control {
      margin-bottom: 28px;
    }
  }

  div.adaptive-test-subsection {
    padding-top: 0;

    &:before {
      display: none;
    }
  }
}

@media (max-width: 767.98px) {
  main.adaptive-test {
    .adaptive-test__main-result {
      width: 329.5px;
      max-width: 100%;
      background-image: url("../images/adaptive-test/result-bg-alt.png");
    }

    .bg-pink {
      background: url(../images/bg-flower1.svg) left top no-repeat,
        url(../images/bg-flower2.svg) right bottom no-repeat,
        url(../images/bg-shining.svg) repeat;
    }
  }
}