// 其它要覆蓋掉原本的預設bootstrap樣式-變數-要放在這上面
@import './variables.scss';

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式-類別-要放在這下面

//--------------------------------- rwd ---------------------------------

body {
    font-family: $font-family-content;
    top: 10rem;
    color: $dark;
}

//--------------------------------- bg-color ---------------------------------
.bg-white {
    background: url(../images/bg-flower1.svg) left top no-repeat,
        url(../images/bg-flower2.svg) right bottom no-repeat,
        url(../images/bg-shining.svg) repeat;
    background-color: $bg-white;
    background-size: 30rem, 30rem, 60rem;
}

.bg-pink {
    background: url(../images/bg-flower-w1.svg) left top no-repeat,
        url(../images/bg-flower-w2.svg) right bottom no-repeat,
        url(../images/bg-shining.svg) repeat;
    background-color: $bg-pink;
    background-size: 30rem, 30rem, 60rem;
}

//--------------------------------- hr ---------------------------------
hr.hr-white {
    border: 0;
    height: 0.5em;
    background: url(../images/hr-white.svg) repeat-x;
}

hr.hr-pink {
    border: 0;
    height: 0.5em;
    background: url(../images/hr-pink.svg) repeat-x;
}

hr.hr-gold {
    border: 0;
    background: url(../images/hr-gold.svg) no-repeat center;
    background-size: 70% auto;
    height: 0.5em;
    margin: 2rem;
}

//--------------------------------- context -----------------------------------
.context-full {
    margin-top: 3rem;
    background-size: 100% auto;

    .context-full-before {
        background: url(../images/context-full01.svg) top no-repeat;
        transform: scaleY(-1);
        height: 4rem;
    }

    .context-full-mid {
        background: url(../images/context-full02.svg) repeat-y;
        padding: 1rem 6rem 1rem 6rem;
    }

    .context-full-after {
        background: url(../images/context-full01.svg) top no-repeat;
        height: 4rem;
        padding-bottom: 6rem;
    }
}

.context-side {
    .context-side-before {
        background: url(../images/context-side01.svg) top left no-repeat;
        transform: scaleY(-1);
        height: 4rem;
        background-size: 100% auto;
    }

    .context-side-mid {
        background: url(../images/context-side02.svg) left repeat-y;
        background-size: 100% auto;
        padding: 1rem 4.5rem 1rem 4.5rem;
    }

    .context-side-after {
        background: url(../images/context-side01.svg) top left no-repeat;
        height: 4rem;
        padding-bottom: 6rem;
        background-size: 100% auto;
    }
}

.side-select {
    background-color: $gray-200;
    padding: 1rem;
    margin-top: 3rem;
}

//--------------------------------- title ---------------------------------

.main-title-before {
    background: url(../images/title.svg) center no-repeat;
    height: 1.2rem;
    margin-bottom: 0.7em;
}

.main-title {
    h2 {
        text-align: center;
        font-family: $font-family-title;
        font-weight: normal;
        color: $red-mid;
    }

    h4 {
        text-align: center;
        font-family: $font-family-title;
        font-weight: normal;
        color: $brown-dark;
        margin-top: -0.5em;
    }
}

.main-title-after {
    background: url(../images/title.svg) center no-repeat;
    transform: scaleY(-1);
    height: 1.2rem;
    margin-bottom: 2em;
}

h6 {
    font-family: $font-family-copperplate;
    color: $pink-mid;
}

.sub-title {
    text-align: center;

    .sub-title-eng {
        font-family: $font-family-title;
        font-weight: normal;
        color: $brown-dark;
        font-size: 1.5rem;
    }

    .sub-title-chs {
        font-family: $font-family-title;
        font-weight: normal;
        color: $red-mid;
        font-size: 1rem;
        margin-top: -1.5em;
    }
}

.box-circle-img {
    background: url(../images/box-circle.svg) no-repeat;
    background-size: 100% auto;
    height: 20rem;
    margin-top: -1em;
}

.box-circle:hover {
    transform: scale(1.05);
    filter: opacity(0.8);
}

.sub-title-deco {
    background: url(../images/sub-title.svg) center no-repeat;
    background-size: 40% auto;
    height: 3.5rem;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

//------------------- button --------------------
button {
    z-index: -1;
    width: 8rem;
    height: 3.2rem;
    border: 0;
    padding-top: 0.3em;
    color: $white;
    text-align: top center;
    margin: 1rem;
}

.btn-main {
    background: url(../images/btn-main.svg) no-repeat;
}

.btn-green {
    background: url(../images/btn-green.svg) no-repeat;
}

.btn-red {
    background: url(../images/btn-red.svg)no-repeat;
    width: 9.5rem;
    height: 4rem;
}

.btn-white {
    background: url(../images/btn-white.svg) no-repeat;
    color: $blue-dark;
}

.btn-pink {
    background: url(../images/btn-pink.svg) no-repeat;
    width: 5.5rem;
    height: 2.7rem;
    font-size: 0.9rem;
}

.btn-main:hover,
.btn-red:hover {
    filter: saturate(130%);
}

.btn-green:hover,
.btn-pink:hover {
    filter: saturate(200%);
}

.btn-white:hover {
    background: url(../images/btn-green.svg) no-repeat;
    color: $white;
    filter: saturate(200%);
}

.btn-main:focus,
.btn-red:focus,
.btn-pink:focus {
    outline: none;
    filter: grayscale(10%) drop-shadow(0rem 0rem 0.2rem rgba(237, 145, 174, 1));
}

.btn-green:focus,
.btn-white:focus {
    outline: none;
    filter: grayscale(10%) drop-shadow(0rem 0rem 0.2rem rgba(155, 204, 210, 1));
}

.margin-btn-left {
    margin: 0;
    float: left;
}

.margin-btn-right {
    margin: 0;
    float: right;
}

//--------------------- table ---------------------


tbody tr:nth-child(even) {
    background-color: #FFF5F6;
}

tbody tr:first-child td {
    border-top: none;
}

tr td:first-child {
    width: auto;
    text-align: center;
}

tr td:nth-child(2) {
    width: 4rem;
    text-align: right;
}

tr td:last-child {
    min-width: 10rem;
}

.table-bg {
    background-color: $light;
    border-radius: 2rem;
    padding: 2rem 0 1.2rem 0;
    border: $white 0.1rem solid;
    box-shadow: 0 0 0 0.5rem $light;
}

input[type=text],
select {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    box-sizing: border-box;
}

input[type=text]:focus {
    outline: none;
    filter: grayscale(10%) drop-shadow(0rem 0rem 0.3rem rgba(237, 145, 174, 1));
}

.table-label {
    background-color: $primary;
    color: $white;
    font-family: $font-family-title;
    font-size: 0.8rem;
    border-radius: 0.1rem;
    box-shadow: 0 0 0 0.3rem $primary;
}




//---------------------- navbar ----------------------

.navbar {
    margin: 2rem auto;
    justify-content: center !important;
    text-align: center;
    width: 50rem;
    height: 10rem;
}

.nav-outline {
    padding: 0.2rem 0 0.2rem 0;
    border-top: $pink-dark 3px solid;
    border-bottom: $pink-dark 3px solid;
}

.nav-link {
    padding: 1rem 0 1rem 0;
    border-top: $pink-mid 2px solid;
    border-bottom: $pink-mid 2px solid;
}

.nav-title-eng {
    font-family: $font-family-title;
    font-size: 1.2rem;
    color: $red-mid;
}

.nav-title-chs {
    background: url(../images/nav-title01.svg) center no-repeat;
    background-size: 100% auto;
    height: 1rem;
    color: $primary;
    font-family: $font-family-title;
    font-size: 0.8rem;
}


//---------------------- modal ----------------------
.modal-context {
    border-radius: 0.5rem;
    border: $brown-mid 0.1rem solid;
    box-shadow: 0 0 0 0.4rem $white;
    padding: 3rem;
    width: 100%;
}

.modal-header {
    border-bottom: none;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.modal-footer {
    border-top: none;

}