@import './variables.scss';

.carousel-caption {
  right: 15%;
  top: 20%;
  z-index: 10;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: right;

  h1 {
    color: $danger;
    font-family: $font-family-title;
  }

  h4 {
    color: black;
    font-family: $font-family-title;
  }

  p {
    font-size: 0.8rem;
    font-family: $font-family-base;
  }

  button {
    background: url(../images/home/Carousel-btn.svg) center no-repeat;
    margin: 0;
    padding: 0;
    color: $primary;
  }

  button:hover {
    background: url(../images/home/Carousel-btn-hover.svg) center no-repeat;
    margin: 0;
    padding: 0;
    color: $white;
  }

  button:focus {
    outline: none;
    filter: grayscale(10%) drop-shadow(0rem 0rem 0.2rem rgba(237, 145, 174, 1));
  }
}

.FirstSlide {
  background: url(../images/home/Carousel01.jpg) center no-repeat;
  height: 100vh;
}

.SecondSlide {
  background: url(../images/home/Carousel02.jpg) center no-repeat;
  height: 100vh;
}

.ThirdSlide {
  background: url(../images/home/Carousel03.jpg) center no-repeat;
  height: 100vh;
}

.view-height {
  @include pc-width {
    height: 100vh;
  }

  @include phone-width {
    height: auto;
  }
}

.home-second {
  margin: 3rem;
}

.home-second-width {
  width: 70%;
  margin: 0 auto;
}

.home-second-hover:hover {
  transform: scale(1.1);
}

.home-second-top {
  background: url(../images/home/home-top.svg) top left no-repeat;
  transform-origin: top left;
  transform: rotate(335deg);

  @include pc-width {
    height: 7%;
  }

  @include phone-width {
    height: 7%;
  }

  .home-second {
    @include pc-width {
      margin-left: 2rem;
    }

    @include phone-width {
      margin-left: 0;
    }
  }

  .home-second-top-text {
    color: $pink-light;
    font-family: $font-family-copperplate;

    @include pc-width {
      margin-left: 1.6rem;
      padding-top: 0.1rem;
      margin-top: 3rem;
    }

    @include phone-width {
      margin-left: 1.2rem;
      padding-top: 0rem;
      margin-top: 0.8rem;
    }
  }
}

.home-second-item {
  background: url(../images/home/home-item.svg) top center no-repeat;
  margin-top: -2rem;

  @include pc-width {
    height: 100%;
    padding: 0rem;
  }

  @include phone-width {
    height: 50%;
    padding: 7rem;
  }

  img {
    @include pc-width {
      width: 80%;
      margin-top: 5rem;
      margin-left: 3rem;
    }

    @include phone-width {
      width: 12rem;
      margin-top: -4.5rem;
      margin-left: -5.5rem;
    }
  }
}

.home-second-item-text {
  text-align: center;
  margin-top: 1rem;

  h3 {
    color: $secondary;
    font-family: $font-family-title;
  }

  p {
    color: $danger;
    font-family: $font-family-title;
    margin-top: -0.5rem;
  }
}

.home-second-item-1 {
  background: url(../images/home/Home-2-1.png) center no-repeat;
  background-size: 5rem;
}

#home-youtube {
  @include pc-width {
    padding-top: 6rem;
    padding-left: 15rem;
  }

  @include phone-width {
    padding: 1.5rem;
    padding-right: 0.5rem;
  }
}
.home-third-width {
  margin: 0;
}

.home-context-side {
  width: 100%;

  @include pc-width {
    margin-top: 27rem;
    margin-left: -8rem;
  }

  @include phone-width {
    margin-top: -2rem;
  }
}

.home-context-side-text {
  text-align: center;
}
