// -------------- color --------------
$pink-dark: #DD6B88;
$pink-mid: #F0A3B5;
$pink-light: #FEDFE1;
$brown-dark: #C78550;
$brown-mid: #D8B479;
$brown-light: #EDD2A6;
$blue-dark: #66959D;
$blue-light: #80C3D0;
$red-mid: #C74042;
$grey-mid: #656765;
$white: #FFF;

//-------------- primary color --------------
$primary: $pink-dark;
$secondary: $brown-dark;
$success: $pink-mid;
$info: $blue-dark;
$warning: $blue-light;
$danger: $red-mid;
$light: $pink-light;
$dark: $grey-mid;

$body-color: $grey-mid;

// -------------- BGcolor --------------
$bg-white: $white;
$bg-pink: $pink-light;

// -------------- Font --------------
//kefa
@import url('//db.onlinewebfonts.com/c/b6e1e126bc19c3e9fe26136203746a13?family=Kefa+PressS');

//Naikai
@font-face {
    font-family: "Naikai";
    src: url("../fonts/NaikaiFont-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Naikai";
    src: url("../fonts/NaikaiFont-Light.ttf") format("truetype");
    font-weight: light;
    font-style: normal;
}

//Noto Sans TC
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap');

$font-family-copperplate: Copperplate,
Copperplate Gothic Light,
fantasy;
$font-family-title: "Kefa PressS",
"Naikai",
sans-serif;
$font-family-content: Arial,
'Noto Sans TC',
sans-serif;
$font-family-base: $font-family-content;


//table
$table-color: $body-color;
$table-bg: $light;
$table-hover-color: $body-color;
$table-hover-bg: rgba($primary, .075);
$table-border-color: rgb(203, 203, 203);
$input-focus-border-color: rgba($success, .25);


//-------------- RWD -------------- 
$phone-media:480px;

@mixin pc-width() {
    @media all and (min-width: $phone-media) {
        @content;
    }
}

@mixin phone-width() {
    @media all and (max-width: $phone-media) {
        @content;
    }
}