:root {
  --dust-100: #dcb879;
  --dust-200: #c78550;
  --red-100: #fedfe1;
  --red-200: #f4a7b9;
  --red-300: #e16b8c;
  --red-400: #cb4042;
  --black-100: #656765;
  --blue-100: #81c7d4;
  --blue-200: #6699a1;
}

@font-face {
  font-family: 'NaikaiFont';
  src: url('../font/NaikaiFont-Regular.ttf');
}
@font-face {
  font-family: 'Kefa';
  src: url('../font/Kefa-Regular.ttf');
}
@font-face {
  font-family: 'Copperplate';
  src: url('../font/Copperplate.ttf');
}
@font-face {
  font-family: 'NotoSansCJKtc';
  src: url('../font/NotoSansCJKtc-Regular.ttf');
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'NaikaiFont';
  overflow-x: hidden;
}
*:focus {
  outline: none;
}

p {
  line-height: 1.2;
  letter-spacing: 2.1px;
  color: var(--black-100);
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

main {
  position: relative;
}
main:before {
  position: absolute;
  top: 0;
  content: '';
  background-repeat: round;
  z-index: 1;
}
main:before {
  width: 100%;
  height: 14px;
  background-image: url('../images/global/bg-top.png');
}
main .container {
  position: relative;
  z-index: 2;
}
